:root {
  --masthead-hbuffer: 1em;
  --masthead-vbuffer: 1em;
}

body {
  max-width: 36rem;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Noto Sans', sans-serif;
}

header {
  margin: 0 0 0 -1em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.masthead {
  padding: var(--masthead-vbuffer) 0 0 var(--masthead-hbuffer);
  background-image: url("../images/masthead.jpg");
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

.masthead h1 {
  display: inline;
}

footer {
  text-align: right;
  font-size: smaller;
  filter: opacity(50%);
}
