body {
  max-width: 32rem;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Noto Sans', sans-serif;
}

header {
  margin: 0 -1em;
}

.masthead {
  padding: 0 1em;
  background-image: url("masthead.jpg");
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

.masthead h1 {
  display: inline;
}
